
{%extends 'tienda/base.html'%}

{% block contenido1 %}

{% load static %}


<div class="alert-alert-primary" role="alert">
  <table class="table table-hover" style="font-size: large;">
    <thead>
      <tr>
        <th scope="row" colspan="3" class="text-center">CARRITO</th>
      </tr>
      <tr>
        <th scope="col">NOMBRE</th>
        <th scope="col">PRECIO</th>
        <th scope="col">CANTIDAD</th>
      </tr>
    </thead>
    <tbody><br><br>
    {% if request.session.carrito.items %}
    {% for key, value in request.session.carrito.items %}
      <tr>
        <td>{{value.nombre}}</td>
        <td>{{value.precio}}</td>
        <td>{{value.acumulado}}
          <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
          <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
        </td>
      </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="3">
            <div class="alert alert-danger text-center"> Sin Productos </div>
        </td>
    </tr>
    {% endif %}
      <tr>
        <th scope="row">Total:</th>
        <td colspan="2">$ {{total_carrito}}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  </div>
  <div class="row text-center" >
      <div class="col-6"><a href="{% url 'CLS' %}" class="btn-btn-primary">Limpiar</a></div>
      <div class="col-6"><a href="#" class="btn-btn-primary ">Comprar</a></div>
  </div>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </body>
    </html>
    








    {% endblock %}










