{%extends 'tienda/base.html'%}

{% block contenido1 %}

{% load static %}


  <body>
    

    
    <!-- productos -->
    <div class="produ">
        <div class="card" style="width: 23rem;">
            <img src="images/p1.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">Antes de diciembre</h5>
              
              <p class="price">$12.285 <span>$15.520</span></p>
   
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/p2.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">The Cruel Prince</h5>
              <p class="price">$12.285 <span>$15.520</span></p>

              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/p3.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">Rojo Blanco y Sangre Azul</h5>
              <p class="price">$12.285 <span>$15.520</span></p>
          
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/p4.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">Dos metros de ti</h5>
              <p class="price">$12.285 <span>$15.520</span></p>
  
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/p5.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">Las ventajas de ser invisible</h5>
              <p class="price">$12.285 <span>$15.520</span></p>
              
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/po10.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">Ciudades de Ceniza</h5>
              <p class="price">$12.285 <span>$15.520</span></p>
              
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/po11.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">El dia que dejo de nevar en alaska</h5>
              <p class="price">$12.285 <span>$15.520</span></p>
              
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/po12.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">Hasta que nos quedemos in estrellas</h5>
              <p class="price">$12.285 <span>$15.520</span></p>
              
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/po16.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">Love Theoretically</h5>
              <p class="price">$12.285 <span>$15.520</span></p>
              
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/po17.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">Ciudades de Fuego</h5>
              <p class="price">$13.825 <span>$15.500</span></p>
             
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>
        
        <div class="card" style="width: 23rem;">
            <img src="images/po1.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">La hipotesis del amor</h5>
              <p class="price">$17.000 <span>22.500</span></p>
              
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/po18.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">Asesino de brujas</h5>
              <p class="price">$12.000 <span>$18.000</span></p>
              
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/po19.png" alt="">
            <div class="card-body">
              <h5 class="card-title">Aristoteles y dante</h5>
              <p class="price">$12.000 <span>$18.000</span></p>
              
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/po20.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">Una corte de rosas y espinas</h5>
              <p class="price">$23.850 <span>$35.500</span></p>
              
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/po21.jfif" alt="">
            <div class="card-body">
              <h5 class="card-title">Un reino de carne y fuego</h5>
              <p class="price">$13.815 <span>$15.530</span></p>
              
              <a href="#" class="btn-btn-primary">Comprar</a> 
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="images/bu3.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Sombra y Hueso</h5>
              <p class="price">$5.640</p>
              
              <a href="#"  class="btn-btn-primary">Comprar</a>
            </div>
        </div>
    </div>

    
    
    
  </body>  

    
    
{% endblock %}

