{%extends 'tienda/base.html'%}

{% block contenido1 %}

{% load static %}


  <body>
    

    {% load humanize %}
    <!-- productos -->
    <div class="produ">
      {% for p in libros %}
        <div class="card" style="width: 23rem;">
            {% if p.imagen %}
            <img src="{{ p.imagen.url }}" alt="">
            {% endif %}
            <div class="card-body">
              <h5>{{p.autor | capfirst}}</h5>
              <h2 class="card-title">{{p.nombre | title}}</h2>
              <h3>${{p.precio | intcomma}}
              </h3>
   
              <a href="#" class="btn-btn-primary">Comprar</a>
            </div>
        </div>
        {% endfor %}
    </div>

    
    
    
  </body>  

    
    
{% endblock %}

