
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load humanize %}
    <title>Listado de Productos</title>
</head>
<body>
    <table>
        <tr>
            <th>Isbn</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Autor</th>
        </tr>

        {% for p in Libros %}

        <tr>
            <td>{{ p.Isbn  title }}</td>
            <td>{{ p.nombre | title }}</td>
            <td>${{ p.precio | intcomma }}</td>
            <td>{{ p.autor | title }}</td>
        </tr>

    </table>

    
    
</body>
</html>